body{
    background: url(imagens/planofundo.jpg);
    background-size: cover;
    text-align: left;
    margin: 800px 0px 0px 900px;
    font-family: 'Playfair Display', serif;
    color:#634428;
}

h1{
    font-size: 100px;
    padding-top: 280px;
    margin-bottom: 15px;
    
}

p{
  font-size: 40px;
  font-weight: bold;  
  margin: 0;
}
span{
    color:#305417;   
}

ul{
    list-style: none;
    margin-top: 50px;
     
}

li{
   display: inline; 
}

ul li a{
    color:  #3a5217 ;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
}

ul li a:hover{
    opacity:0.7 ;
}

.segundo-paragrafo{
    margin-bottom: 60px;

}

.botao{
    text-decoration: none;
    color: #3a5217;
    background-color:#699f434e;
    padding:10px 15px ;
}

.botao:hover{
    opacity:0.8;
}

@media (max-width: 640px){
    body{
        background:black;
    }
}