body{
    background: url(imagens/planofundo.jpg);
    background-size: cover;
    text-align: left;
    margin: 800px 0px 0px 900px;
    font-family: 'Playfair Display', serif;
    color:#4a3214;
    margin: auto;
    
}

h1{
    font-size: 100px;
    padding-top: 280px;
    margin-bottom: 15px;
    margin: 0px 0px 0px 15px;
    
}

p{
  font-size: 40px;
  font-weight: bold;  
  margin: 0px 0px 0px 15px;
  opacity: 0.8;
}
span{
    color:#3c5319;   
}

ul{
    list-style: none;
    margin-top: 50px;
    margin: auto;
    text-align: center;
     
}

li{
   display: inline; 
}

ul li a{
    color:  #41591C ;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

ul li a:hover{
    opacity:0.7 ;
}

.segundo-paragrafo{
    margin-bottom: 60px;

}

.botao{
    text-decoration: none;
    color: #1e3103;
    background-color:#4673023b;
    padding:10px 15px ;
}

.botao:hover{
    opacity:0.8;
}

@media (max-width: 640px){
    body{
        background: url(imagens/planofundoP.jpg);
        text-align: center;
    }

    h1{
       font-size:70px ; 
       margin-bottom: 70px ;
       padding-top: 180px;
    }

    p{
        font-size: 30px;
    }

    .segundo-paragrafo{
        margin-top: 60px
    }

    ul{
        text-align: right;
        margin: auto;
        
    }
    

}